<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Techs Book</a>
        </div>
        <ul class="nav navbar-nav">
            <li routerLinkActive="active"><a routerLink="/laptops"  >Laptops</a></li>
            <li routerLinkActive="active"><a  routerLink="/shopping-list">Shooping List</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown"appDropDown> <!-- {1} -->
                <a style="cursor: pointer;" class="dropdown-toogle" role="button">  Mange <span class="caret"></span></a>
                <ul  class="dropdown-menu"> <!-- {3} -->
                    <li><a>Save Data</a></li>
                    <li><a> Featch Data</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>