<div class="row">
    <div class="col-12">
        <img [src]="mLaptopDetail.mLapImg" [alt]="mLaptopDetail.mLapName "class="img-responsive">

    </div>
</div>
<div class="row">
    <div class="col-12">
        <h1>{{mLaptopDetail.mLapName}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="btn-group" appDropDown>
            <button class="btn  btn-primary drowpdown-toggle">
                Manage <span class="caret"> </span> 
            </button>
            <ul class="dropdown-menu">
               <li><a (click)="AddToShoppingList()" style="cursor: pointer;" >To Shopping List </a></li>
               <li><a (click)="onEditItem()" routerLinkActive="router-link-active"  >Edit Laptop </a></li>
               <li><a (click)="onDeleteItem()" >Delete Laptop</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        {{mLaptopDetail.mLapDesc}} 
    </div>
</div>
<div class="row">
    <div class="col-12">
    <ul class="list-group">
        <li class="list-group-item"
        *ngFor="let item of mLaptopDetail.ingredients">
        {{item.name}} -- {{item.amount}}

    </li>
    </ul>
    </div>
</div>
